API_KEY= "AIzaSyCYaWNDnSO0mnsMqaHdm2hQKtqseuR9od0"
AUTH_DOMAIN= "trabalho-55724.firebaseapp.com"
PROJECT_ID= "trabalho-55724"
STORAGE_BUCKET= "trabalho-55724.firebasestorage.app"
MESSAGING_SENDER_ID= "761847414610"
APP_ID=  "1:761847414610:web:5f585719c411a7f290c48b"
